<center>
<img src="../../img/ods_stickers.jpg">
## Открытый курс по машинному обучению
<center>
Автор материала: Юрий Кашницкий, программист-исследователь Mail.Ru Group <br> 

Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.

# <center>Домашнее задание № 1 (демо).<br> Анализ данных по доходу населения UCI Adult</center>

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже есть в репозитории). Для отправки решений используйте [онлайн-форму](https://docs.google.com/forms/d/1xAzU-5N6oEeR4UG8G44V6XL-Kbr4WYcPBG45Kijge2Y).**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../../data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Сколько мужчин и женщин (признак *sex*) представлено в этом наборе данных?**

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст (признак *age*) женщин?**

In [12]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. Какова доля граждан Германии (признак *native-country*)?**

In [13]:
len(data[data['native-country'] == 'Germany']) / len(data)

0.004207487485028101

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [17]:
data[data['salary'] == '>50K']['age'].mean(), \
data[data['salary'] == '>50K']['age'].std(), \
data[data['salary'] == '<=50K']['age'].mean(), \
data[data['salary'] == '<=50K']['age'].std()

(44.24984058155847, 10.519027719851826, 36.78373786407767, 14.02008849082488)

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [20]:
data[data['salary'] == '>50K']['education'].value_counts()

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [23]:
for race, sub_df in data.groupby('race'):
    print(race)
    print(sub_df.describe())
    print()
print('----------------------------')
for sex, sub_df in data.groupby('sex'):
    print(sex)
    print(sub_df.describe())
    print()

Amer-Indian-Eskimo
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  311.000000     311.000000     311.000000    311.000000    311.000000
mean    37.173633  120831.147910       9.311897    625.266881     34.176849
std     12.447130   88338.636336       2.310387   2753.238961    245.583106
min     17.000000   12285.000000       2.000000      0.000000      0.000000
25%     28.000000   35036.500000       9.000000      0.000000      0.000000
50%     35.000000  102541.000000       9.000000      0.000000      0.000000
75%     45.500000  176142.000000      10.000000      0.000000      0.000000
max     82.000000  445168.000000      16.000000  27828.000000   1980.000000

       hours-per-week
count      311.000000
mean        40.048232
std         11.695364
min          3.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         84.000000

Asian-Pac-Islander
               age         fnlwgt  education-num  capital-gain  capital-loss  \
count  1039.000000    1039.000000    1039.000000   1039.000000   1039.000000
mean     37.746872  159940.609240      10.960539   1478.358037     97.222329
std      12.825133   85122.307505       2.811582   9986.156906    423.556931
min      17.000000   14878.000000       1.000000      0.000000      0.000000
25%      28.000000   93321.000000       9.000000      0.000000      0.000000
50%      36.000000  143098.000000      10.000000      0.000000      0.000000
75%      45.000000  194456.000000      13.000000      0.000000      0.000000
max      90.000000  506329.000000      16.000000  99999.000000   2457.000000

       hours-per-week
count     1039.000000
mean        40.127045
std         12.556816
min          1.000000
25%         40.000000
50%         40.000000
75%         40.000000
max         99.000000

Black
               age        fnlwgt  education-num  capital-gain  capital-loss  \
count  3124.000000  3.124000e+03    3124.000000   3124.000000   3124.000000
mean     37.767926  2.280131e+05       9.486236    609.940461     60.385083
std      12.759290  1.236007e+05       2.297893   5139.653447    337.394121
min      17.000000  1.975200e+04       1.000000      0.000000      0.000000
25%      28.000000  1.482120e+05       9.000000      0.000000      0.000000
50%      36.000000  2.059340e+05       9.000000      0.000000      0.000000
75%      46.000000  2.816930e+05      10.000000      0.000000      0.000000
max      90.000000  1.268339e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count     3124.000000
mean        38.422855
std         10.315646
min          1.000000
25%         37.000000
50%         40.000000
75%         40.000000
max         99.000000

Other
              age         fnlwgt  education-num  capital-gain  capital-loss  \
count  271.000000     271.000000     271.000000    271.000000    271.000000
mean    33.457565  197124.191882       8.841328    934.660517     61.070111
std     11.538865   88856.775370       3.226153   8625.128995    322.452705
min     17.000000   24562.000000       1.000000      0.000000      0.000000
25%     25.000000  138103.000000       7.500000      0.000000      0.000000
50%     31.000000  188793.000000       9.000000      0.000000      0.000000
75%     41.000000  240091.000000      10.000000      0.000000      0.000000
max     77.000000  481175.000000      16.000000  99999.000000   2179.000000

       hours-per-week
count      271.000000
mean        39.468635
std         11.143755
min          5.000000
25%         36.000000
50%         40.000000
75%         40.000000
max         98.000000

White
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  27816.000000  2.781600e+04   27816.000000  27816.000000  27816.000000
mean      38.769881  1.872981e+05      10.135246   1121.660375     90.806155
std       13.782306  1.031249e+05       2.570307   7504.533302    410.833347
min       17.000000  1.882700e+04       1.000000      0.000000      0.000000
25%       28.000000  1.169025e+05       9.000000      0.000000      0.000000
50%       37.000000  1.776270e+05      10.000000      0.000000      0.000000
75%       48.000000  2.335425e+05      13.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    27816.000000
mean        40.689100
std         12.544796
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

----------------------------
Female
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  10771.000000  1.077100e+04   10771.000000  10771.000000  10771.000000
mean      36.858230  1.857463e+05      10.035744    568.410547     61.187633
std       14.013697  1.029861e+05       2.379954   4924.262944    340.907518
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       25.000000  1.173630e+05       9.000000      0.000000      0.000000
50%       35.000000  1.760770e+05      10.000000      0.000000      0.000000
75%       46.000000  2.283315e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours-per-week
count    10771.000000
mean        36.410361
std         11.811300
min          1.000000
25%         30.000000
50%         40.000000
75%         40.000000
max         99.000000

Male
                age        fnlwgt  education-num  capital-gain  capital-loss  \
count  21790.000000  2.179000e+04   21790.000000  21790.000000  21790.000000
mean      39.433547  1.917714e+05      10.102891   1329.370078    100.213309
std       13.370630  1.067407e+05       2.662630   8326.312095    429.763097
min       17.000000  1.376900e+04       1.000000      0.000000      0.000000
25%       29.000000  1.182008e+05       9.000000      0.000000      0.000000
50%       38.000000  1.801400e+05      10.000000      0.000000      0.000000
75%       48.000000  2.411462e+05      13.000000      0.000000      0.000000
max       90.000000  1.455435e+06      16.000000  99999.000000   3770.000000

       hours-per-week
count    21790.000000
mean        42.428086
std         12.119755
min          1.000000
25%         40.000000
50%         40.000000
75%         49.000000
max         99.000000

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
# Ваш код здесь

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
# Ваш код здесь

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:
# Ваш код здесь